@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.GetUserName()
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            
            <li>
                @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
            </li>

            <li><hr class="dropdown-divider"></li>
            
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>

                    @Html.AntiForgeryToken()
                }
            </li>

        </ul>

    </li>
}
else
{
    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
    </li>

    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
    </li>
}
