@model Vidly.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    <h4>Use another service to log in.</h4>

    <hr />

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        <div id="socialLoginList" class="d-flex flex-column">

            @foreach (AuthenticationDescription description in loginProviders)
            {
                <button type="submit"
                        class="btn btn-primary m-1"
                        id="@description.AuthenticationType"
                        name="provider"
                        value="@description.AuthenticationType"
                        title="Log in using your @description.Caption account">

                    @description.AuthenticationType

                </button>
            }

        </div>

        @Html.AntiForgeryToken()
    }

}
