@model Vidly.ViewModels.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container-sm">

    <div class="row">

        <div class="col-12">

            <h2>@ViewBag.Title</h2>

            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                <h4>Associate your @ViewBag.LoginProvider account.</h4>

                <hr />

                <p class="text-daark">
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>. Please enter your name and email (which will be used as your username) for this site below and click the Register button to finish logging in.
                </p>

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.FirstName, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.LastName, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Email, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">Register</button>
            }

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
