@model Vidly.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container-sm">

    <div class="row">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            <h2 class="lead">Create a new account.</h2>

            <hr />

            @using (Html.BeginForm("Register", "Account"))
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">Register</button>
            }

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
