@model Vidly.ViewModels.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}

<div class="container-sm">

    <div class="row my-1">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            <h2 class="lead">Add a phone number</h2>

            <hr />

            @using (Html.BeginForm("AddPhoneNumber", "Manage"))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Number)
                </div>

                @Html.AntiForgeryToken()

                <button class="btn btn-primary" type="submit">Add</button>
            }

        </div>

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
