@model Vidly.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container-sm">

    <div class="row my-1">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            <h2 class="lead">Enter your new password below.</h2>

            <hr />

            @using (Html.BeginForm("ChangePassword", "Manage"))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "form-label fw-bold" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "form-label fw-bold" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label fw-bold" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                @Html.AntiForgeryToken()

                <button class="btn btn-primary" type="submit">Submit</button>
            }

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}