@model Vidly.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="container-sm">

    <div class="row my-1">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            <div class="lead">Change your account settings</div>

            <div class="text-success">@ViewBag.StatusMessage</div>

        </div>

    </div>

    <div class="row align-items-start my-1">

        <div class="col-sm-8">

            <div class="fw-bold">Password:</div>

        </div>

        <div class="col-sm-4">

            <div class="d-flex flex-column">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink(linkText: "Change Password", actionName: "ChangePassword", controllerName: "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink(linkText: "Create Password", actionName: "SetPassword", controllerName: "Manage", routeValues: null, new { @class = "btn btn-primary" })
                }
            </div>

        </div>

    </div>

    <hr />

    <div class="row my-1 align-items-start">

        <div class="col-sm-8">

            <div class="fw-bold">External Logins:</div>

        </div>

        <div class="col-sm-4">

            <div class="d-flex flex-column">

                @Html.ActionLink(linkText: "Manage", actionName: "ManageLogins", controllerName: "Manage", routeValues: null, new { @class = "btn btn-primary" })

            </div>

        </div>

    </div>

    <hr />

    <div class="row my-1 align-items-start">

        <div class="col-sm-8">

            <div class="d-flex flex-row">

                <div class="fw-bold me-2">Phone Number:</div>

                <div>@(Model.PhoneNumber ?? "None")</div>

            </div>

        </div>

        <div class="col-sm-4">

            <div class="d-flex flex-column">

                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink(linkText: "Change", actionName: "AddPhoneNumber", controllerName: "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary mb-2" })

                    using (Html.BeginForm("RemovePhoneNumber", "Manage"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Remove</button>
                        </div>
                    }
                }
                else
                {
                    @Html.ActionLink(linkText: "Add", actionName: "AddPhoneNumber", controllerName: "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                }

            </div>

        </div>

    </div>

    <hr />

    <div class="row my-1 align-items-start">

        <div class="col-sm-8">

            <div class="fw-bold me-2">Two-Factor Authentication:</div>

        </div>

        <div class="col-sm-4">

            <div class="d-flex flex-column">

                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage"))
                    {
                        <div class="d-grid">

                            <input type="submit" value="Disable" class="btn btn-primary" />

                        </div>

                        @Html.AntiForgeryToken()
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage"))
                    {
                        <div class="d-grid">

                            <input type="submit" value="Enable" class="btn btn-primary"/>

                        </div>

                        @Html.AntiForgeryToken()
                    }
                }

            </div>

        </div>

    </div>

</div>