@model Vidly.ViewModels.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<div class="container-sm">

    <div class="row my-1">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            <h2 class="lead">
                You do not have a local username/password for this site. Add a local
                account so you can log in without an external login.
            </h2>

            <hr />

            <div class="text-success"></div>

            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary"> Submit</button>
            }

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}