@model Vidly.ViewModels.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verify Phone Number";
}

<div class="container-sm">

    <div class="row my-1">

        <div class="col-12">

            <h1 class="display-6">@ViewBag.Title</h1>

            <h2 class="lead">Enter verification code</h2>

            <div>@ViewBag.Status</div>

            <hr />

            @using (Html.BeginForm("VerifyPhoneNumber", "Manage"))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.Code, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Code)
                </div>

                @Html.AntiForgeryToken()
                @Html.Hidden("phoneNumber", @Model.PhoneNumber)

                <button class="btn btn-primary" type="submit">Submit</button>
            }

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
